<h1>Create new user</h1>
<form name='make_user' id='make_user' action='<%= users_path %>' method='post'>
	<span class='label'> name: </span>
	<input type='text' value='' name='name' id='name' class='form_field'/>
	<span class='label'>email:</span>
	<input type='text' value='' name='email' id='email' class='form_field'/>
	<span class='label'>password:</span>
	<input type='password' value='' name='password' class='form_field'/>
	<span class='label'>password confirmation:</span>
	<input type='password' value='' name='password_confirmation' class='form_field'/>
	<input type='submit' value='create your user'/>
</form>
