<h1>Create new user</h1>
<form name='make_user' action='<%= users_path %>' method='post'>
	name:
	<input type='text' value='' name='name'/>
	email:
	<input type='text' value='' name='email'/>
	password:
	<input type='password' value='' name='password'/>
	password confirmation:
	<input type='password' value='' name='password_confirmation'/>
	<input type='submit' value='create your user'/>
</form>
